.form {
  display: grid;
  grid-column: 100%;
  row-gap: 20px;
}

.sectionHeader {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--blue);
  text-align: center;
}

.textarea {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  background: var(--light-grey);
  height: 118px;
  padding: 0.5em;
  border-radius: 15px;
  resize: none;
}

.radioFieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  border: none;
}

.radioFieldset ul {
  list-style: none;
  margin: 1em 0;
  padding-left: 15px;
}

.radioFieldset li {
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.radioFieldset li * {
  cursor: pointer;
}

.radioFieldset input[type='radio'] {
  width: 17px;
  height: 17px;
  margin-bottom: 5px;
}

.radioFieldset img {
  margin-left: 5px;
  border: 1px solid var(--grey);
}

.form button {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  width: 100%;
  padding: 0.3em;
  background: var(--blue);
  border: none;
  border-radius: 6px;
}

.success,
.errorMessage {
  text-align: center;
  font-weight: 500;
  margin-top: 5px;
}

.errorMessage {
  color: var(--red);
}

.success {
  color: var(--green);
}
