.mainContainer {
  margin: 0 auto;
  width: 390px;
}

.translationSection {
  height: calc(100vh - 213px);
  background: white;
  padding: 2em 1em;
}

.translationContainer {
  height: 100%;
  padding: 1em;
  border: 4px solid black;
  border-radius: 15px;
}
