* {
  box-sizing: border-box;
}

:root {
  --red: #ff3000;
  --green: #32cd32;
  --blue: #035a9d;
  --grey: #999999;
  --light-grey: #eff0f4;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background: black;
  margin: 0;
}

h1 {
  font-family: 'Big Shoulders', sans-serif;
  font-size: 2.5rem;
  color: var(--green);
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--blue);
  text-align: center;
  margin: 0;
}
