* {
  box-sizing: border-box;
}

:root {
  --green: #32cd32;
  --blue: #035a9d;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background: black;
  margin: 0;
}

h1 {
  font-family: 'Big Shoulders', sans-serif;
  font-size: 1.875rem;
  color: var(--green);
  margin: 0;
}
